.background-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: black;
}

.image1, .image2, .image3 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: cover;
  animation: moveImages 10s linear infinite;
}

.image1 { background-image: url("/public/images/image1.jpg"); top: 10%; left: 10%; }
.image2 { background-image: url("/public/images/image2.jpg"); top: 40%; left: 50%; }
.image3 { background-image: url("/public/images/image3.jpg"); top: 70%; left: 30%; }

@keyframes moveImages {
  0% { transform: translateY(0px); }
  100% { transform: translateY(-200px); }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .image1, .image2, .image3 {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 480px) {
  .image1, .image2, .image3 {
    width: 60px;
    height: 60px;
  }
}
